@import-normalize;
@import "helper";

body {
  margin: 0;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: $black;
}

body,div,p {
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.icon {
  width: 30px;
  height: 30px;
}

.nav-selected {
  color: $yellow;
  font-weight: bold;
}
